body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
}

header {
  background-color:blanchedalmond;
  padding: 15px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  max-width: 750px;
  margin: auto;
}

.article-link {
  color: blue;
}

.article-link:hover {
  color: red;
}

footer {
  background-color:antiquewhite;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

iframe {
  width: 100%;
  height: 315px;
  border: none;
}

